* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: TT Hoves;
    src: url(../fonts/TT/TT/TTHoves-Bold.ttf);
}

body {
    overflow-x: hidden;

    // HEADER
    #nav-area {
        border-bottom: 2px solid black;
        width: 100%;
        z-index: 999999;
        position: fixed;
        background-color: white;
        height: 10%;

        .logo {
            float: left;
            margin-top: 28px;

            a {
                text-decoration: none;
            }

            h1 {
                width: 215px;
                height: 40px;

                font-family: 'TT Hoves';
                font-style: normal;
                font-weight: 1000;
                font-size: 28px;
                line-height: 40px;
                /* identical to box height, or 143% */

                text-transform: uppercase;

                /* Colors/Black */

                color: #000000;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }

        .bttn {
            margin-top: 19px;
            float: right;

            a {
                text-decoration: none;
                width: 129px;
                height: 24px;

                /* Caption 3.1 */

                font-family: 'TT Hoves';
                font-style: normal;
                font-weight: 900;
                font-size: 16px;


                button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 16px 24px;
                    gap: 8px;

                    width: 220px;
                    height: 56px;

                    /* Colors/Brand */

                    background: #C1B2EE;
                    /* Colors/Black */

                    border: 2px solid #000000;
                    border-radius: 100px;

                    i {
                        font-size: 22px;
                    }
                }
            }


        }
    }

    // MAIN

    #menu-bar {
        .menu {
            display: flex;
            position: absolute;
            height: 655px;
            top: 150px;
            gap: 20px;

            a {
                text-decoration: none;
                color: #000000;
            }

            img {
                margin-top: 5px;
                width: 8px;
                height: 8px;

            }
        }
    }

    #history-woman {
        .woman-img {
            margin-top: 220px;

            img {
                border: 1px solid black;
            }
        }

        .bttn {
            margin-top: 19px;

            a {
                text-decoration: none;
                width: 129px;
                height: 24px;

                /* Caption 3.1 */

                font-family: 'TT Hoves';
                font-style: normal;
                font-weight: 900;
                font-size: 16px;


                button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 16px 24px;
                    gap: 8px;

                    width: 95%;
                    height: 56px;

                    /* Colors/Brand */

                    background: #C1B2EE;
                    /* Colors/Black */

                    border: 2px solid #000000;
                    border-radius: 100px;

                    i {
                        font-size: 22px;
                    }
                }
            }


        }

        .content-woman {
            margin-top: 222px;

            table {
                border: 3px solid black;

                tbody {
                    padding: 10px;
                }

                tr {
                    border: 2px solid black;
                }

                td {
                    padding: 32px;
                    border: 2px solid black;


                    font-size: 22px;


                    h1 {
                        font-family: 'TT Hoves';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 56px;
                        line-height: 72px;
                    }

                    .introduction {
                        margin-top: 20px;
                        gap: 20px;
                        display: flex;

                        p {
                            font-size: 28px;
                            font-family: 'TT Hoves';
                            font-style: normal;
                            font-weight: 700;
                            line-height: 40px;
                        }

                        img {
                            margin-top: 16px;
                            width: 8px;
                            height: 8px;
                        }

                    }

                    .socials {
                        margin-top: 20px;
                        display: flex;
                        gap: 24px;

                        a {
                            text-decoration: none;
                            color: black;

                        }

                        .social {
                            width: 56px;
                            height: 56px;
                            background-color: #C1B2EE;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &:hover {
                                box-shadow: 3px 3px;
                            }

                            i {
                                font-size: 30px;
                            }
                        }


                    }


                }
            }
        }


    }




    // FOOTER \\

    #footer-bar {
        width: 100%;
        border-top: 2px solid black;
        margin-top: 200px;

        .footer-part {
            margin-top: 30px;
            margin-bottom: 20px;

            .date {
                p {
                    font-family: 'TT Hoves';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    float: left;

                }
            }

            .site-by {
                font-family: 'TT Hoves';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                /* identical to box height, or 140% */

                text-align: right;
                float: right;

            }
        }
    }

    @media (max-width:576px) {
        #nav-area {
            .logo {
                margin-top: 23px !important;
            }

            h1 {
                font-size: 24px !important;
            }

            .bttn {
                margin-top: -42px !important;

                a {
                    font-size: 12px;

                    button {
                        padding: 0;
                        border-radius: 50% !important;
                        width: 35px !important;
                        height: 35px !important;

                    }
                }
            }
        }

        #menu-bar {
            .menu {
                top: 100px !important;
                height: 0;
            }
        }

        #history-woman {
            .woman-img {
                margin-top: 160px !important;

                img {
                    width: 100%;
                }

                .bttn {
                    a {
                        button {
                            width: 100% !important;
                        }
                    }
                }
            }

            .content-woman {
                margin-top: 35px !important;

                .table {
                    td {
                        font-size: 16px !important;
                    }

                    h1 {
                        font-size: 30px !important;
                        line-height: 40px !important;
                    }

                    .introduction {
                        margin-top: 0 !important;

                        p {

                            font-size: 20px;
                        }
                    }
                }
            }


        }
        .footer-part{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 66%;
            margin: 30px auto;
            .site-by{
                float: none !important;
                text-align: left !important;
            }
        }
    }
}