* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: TT Hoves;
    src: url(../fonts/TT/TT/TTHoves-Bold.ttf);
}

body {
    overflow-x: hidden;

    #nav-area {
        border-bottom: 2px solid black;
        width: 100%;
        z-index: 999999;
        position: fixed;
        background-color: white;
        height: 10%;

        .logo {
            float: left;
            margin-top: 28px;
            a{
                text-decoration: none;
            }

            h1 {
                width: 215px;
                height: 40px;

                font-family: 'TT Hoves';
                font-style: normal;
                font-weight: 1000;
                font-size: 28px;
                line-height: 40px;
                /* identical to box height, or 143% */

                text-transform: uppercase;

                /* Colors/Black */

                color: #000000;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }

        .bttn {
            margin-top: 19px;
            float: right;

            a {
                text-decoration: none;
                width: 129px;
                height: 24px;

                /* Caption 3.1 */

                font-family: 'TT Hoves';
                font-style: normal;
                font-weight: 900;
                font-size: 16px;


                button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 16px 24px;
                    gap: 8px;

                    width: 220px;
                    height: 56px;

                    /* Colors/Brand */

                    background: #C1B2EE;
                    /* Colors/Black */

                    border: 2px solid #000000;
                    border-radius: 100px;

                    i {
                        font-size: 22px;
                    }
                }
            }


        }
    }

    // MAIN
    #banner {
        position: absolute;
        width: 100%;
        height: 655px;
        left: 0px;
        top: 90px;
        background: #C1B2EE;
        border-width: 2px 0px;
        border-style: solid;
        border-color: #000000;

        .banner-content {
            h1 {
                position: absolute;
                width: 45%;
                height: 216px;
                top: 142px;

                /* Big Title */

                font-family: TT Hoves;
                font-style: normal;
                font-weight: 700;
                font-size: 56px;
                line-height: 72px;
                /* or 129% */


                /* Colors/Black */

                color: #000000;
            }
        }

        .banner-select {
            img {
                width: 100%;
            }

            position: absolute;
            height: 103px;
            left: 279px;
            top: 275px;
        }
    }


    // MAIN

    #add-history {

        .add-img {
            margin-top: 170px;
            width: 100%;
            height: 392px;
            border: 3px dashed black;
            justify-content: center;
            display: flex;
            align-items: center;
            text-align: center;

            p {
                font-size: 12pt;
                color: black;


                input {
                    font-family: verdana;
                    font-size: 12pt;
                    }
            }
        }

        .add-to-form {

            margin-top: 170px;
            border: 2px solid black;


            .form {
                padding: 32px;

                display: grid;
                gap: 24px;

                h2 {
                    font-size: 30px;
                    font-family: 'TT Hoves';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 32px;
                }

                input {
                    width: 100%;
                    height: 64px;
                    border: 2px solid black;
                    padding: 20px;

                }

                textarea {
                    border: 2px solid black;
                    width: 100%;
                    height: 118px;
                    padding: 20px;
                }

                .socials-info{
                    display: inline-flex;


                    .input-container {
                        display: inline-flex;

                        width: 100%;
                        margin-bottom: 15px;
                      }
                      
                      .icon {
                        padding: 10px;
                        color: black;
                        min-width: 50px;
                        text-align: center;
                        border: 1px solid black;
                      }
                      
                      .input-field {
                        width: 100%;
                        padding: 10px;
                        outline: none;
                      }
                      
                      .input-field:focus {
                        border: 2px solid black;
                      }

                      i{
                        display: flex;
                        font-size: 44px;
                        align-items: center;
                      }
                }
            }

            .bttn{
                a{
                    text-decoration: none;
                }
                button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 16px 24px;
                    gap: 8px;

                    width: 100%;
                    height: 56px;

                    /* Colors/Brand */

                    background: #C1B2EE;
                    /* Colors/Black */

                    border: 2px solid #000000;
                    border-radius: 100px;

                    i {
                        font-size: 22px;
                    }
                }
            }
        }

    }


    // FOOTER \\

    #footer-bar {
        width: 100%;
        border-top: 2px solid black;
        margin-top: 200px;

        .footer-part {
            margin-top: 30px;
            margin-bottom: 20px;

            .date {
                p {
                    font-family: 'TT Hoves';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    float: left;

                }
            }

            .site-by {
                font-family: 'TT Hoves';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                /* identical to box height, or 140% */

                text-align: right;
                float: right;

            }
        }
    }

    @media (max-width:576px) {
        #nav-area {
            .logo {
                margin-top: 23px !important;
            }

            h1 {
                font-size: 24px !important;
            }

            .bttn {
                margin-top: -42px !important;

                a {
                    font-size: 12px;

                    button {
                        padding: 0;
                        border-radius: 50% !important;
                        width: 35px !important;
                        height: 35px !important;

                    }
                }
            }
        }

        #banner {
            border-style: none;
            border-color: none;
            border-bottom: 2px solid black !important;

            .banner-content {

                h1 {
                    line-height: 41px !important;
                    margin-left: -30% !important;

                    b {
                        font-size: 32px !important;
                    }
                }
            }

            .banner-select {
                width: 68% !important;
                top: 32% !important;
                left: 11% !important;
            }

        }

        #comment-woman {
            .comment {
                height: 434px !important;
                top: 64% !important;
                left: 17% !important;
                padding: 32px 24px 32px 24px !important;

                p {
                    font-size: 20px !important;
                    line-height: 27px !important;

                }

                .bttn {
                    margin-right: 31% !important;
                    display: flex !important;
                    justify-content: center !important;
                    margin-top: 90px !important;
                }
            }
        }

        #woman-history {
            h1 {
                width: 100% !important;
                height: 113px !important;
                font-family: "TT Hoves" !important;
                font-style: normal !important;
                font-weight: 700 !important;
                font-size: 35px !important;
                text-align: center !important;
                line-height: 64px !important;
            }

            a {
                .card {
                    width: 100% !important;

                    .woman-img {
                        img {
                            margin-left: 55px !important;
                        }
                    }
                }
            }


        }

        #about-woman {
            .comment {
                position: inherit !important;
                width: 100% !important;
                padding: 50px 43px !important;
                height: 300px !important;
                margin-top: 56px !important;

                .comment-content {
                    margin: 0 !important;

                    p {
                        font-size: 20px !important;
                        line-height: 28px !important;
                    }

                }
            }
        }

        #comands {
            margin-top: 56px !important;

            h1 {
                margin: 0 0 30px 0 !important;
                font-size: 34px !important;
                line-height: 49px !important;
            }

            .card {
                width: 100% !important;
            }
        }

        #footer-bar {
            margin-top: 56px !important;

            .footer-part {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 66%;
                margin: 30px auto;

                .site-by {
                    float: none !important;
                    text-align: left !important;
                }
            }
        }
    }

    @media (max-width:576px) {
        #footer-bar {
            .footer-part{
                .date{
                    p{
                        
                    }
                }

            }
        }

    }
}